html, body{
    width:100%;
    height:100%;
}

div.main, div.body{
    width:100%;
    height:100%;
}

.left-panel{
    display:flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(248, 248, 248);
}

.right-panel{
    display:flex;
    justify-content: center;
    align-items: center;
    
    background-color: rgb(255, 255, 255);
}

@media screen and ((max-width: 800px) or (orientation:portrait)){
    .left-panel{
        display:none;
    }

    .right-panel{
        height:100%;
    }
}

.right-panel .sign-in-form-wrapper{
    width:75%;
    height:80%;

    display:flex;
    flex-direction: column;
    align-items: center;

    border-radius: 25px;
    box-shadow: 2.5px 4px 8px rgba(0, 0, 0, 0.24);

    background-color: #cadf83;
}

.sign-in-form-wrapper .form-title{
    margin-top: 35px;
}

.sign-in-form-wrapper .form-title .logo-wrapper{
    width:100px;
    height:100px;
}

.sign-in-form-wrapper .form-title .logo-wrapper img{
    width:100%;
    height:100%;
}

.sign-in-form-wrapper .form-title .shop-name-display{
    display: flex;
    align-items: center;
    
    font-size: 25pt;
    font-weight: 650;
}

.sign-in-form-wrapper .form-title .form-title-message{
    margin-top:2px;
    text-align: center;

    font-size: 18pt;
    font-weight: 650;
}



.sign-in-form-wrapper .sign-in-form{
    margin-top:50px;

    width:100%;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;

    background-color: rgb(228, 236, 205);
}

.sign-in-form-wrapper .sign-in-form > *{
    margin: 10px 0;
    width: 80%;
}

.sign-in-form-wrapper .sign-in-form input[type="text"], 
.sign-in-form-wrapper .sign-in-form input[type="password"],
.sign-in-form-wrapper .sign-in-form input[type="submit"]
{
    width:80%;
    height:45px;

    font-size: 11pt;
    font-weight: 550;

    border-radius: 15px;
}

.sign-in-form-wrapper .sign-in-form .password-remember-wrapper{
    display: flex;
    align-items: center;
}

.sign-in-form-wrapper .sign-in-form .password-remember-wrapper input[type="checkbox"]
{
    width:20px;
    height:20px;
}

.sign-in-form-wrapper .sign-in-form .password-remember-wrapper label
{
    font-size: 12pt;
    color:rgb(117, 117, 117);
}

.sign-in-form-wrapper .sign-in-form input[type="submit"]
{
    background-color: #cadf83;
}

.sign-in-form-wrapper .sign-in-bottom-options{
    margin-top:50px;
    font-size: 12pt;
}