@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
/*reset-css*/
*,
*:before,
*:after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font: inherit;
}
ul,
li {
    list-style: none;
}
img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}
input,
select,
textarea {
    background-color: transparent;
    outline: none;
}
button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 0;
}
body {
    min-height: 100vh;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    font-family: var(--primary-font);
}
:root {
    --primary-font: "Dosis", sans-serif;
    --primary-color-blue: #36c3fe;
    --primary-color-blue-opacity: rgba(56, 122, 223, 0.2);
    --primary-bg-color: rgba(43, 190, 249, 0.2);
    --primary-color-yellow: #fba834;
}

a.no-style, a.no-style:hover, a.no-style:visited, a.no-style:focus, a.no-style:active  {
    text-decoration: none;
    color: inherit;
    outline: 0;
    cursor: auto;
  }