@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
/*reset-css*/
*,
*:before,
*:after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font: inherit;
}
ul,
li {
    list-style: none;
}
img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}
input,
select,
textarea {
    background-color: transparent;
    outline: none;
}
button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 0;
}
body {
    min-height: 100vh;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    font-family: var(--primary-font);
}
:root {
    --primary-font: "Dosis", sans-serif;
    --primary-color-blue: #387adf;
    --primary-color-blue-opacity: rgba(56, 122, 223, 0.2);
    --primary-color-yellow: #fba834;
}
