@import url('../globals/globals.css');

/* globals */
.style-panel-title{
    text-indent: 15px;

    font-size: 14pt;
    font-weight: 650;
}

/* elements */
.home-page{
    width:100%;
    height:100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-page .content-wrapper{
    width:85%;
    
}

/* widget */
@keyframes ad-widget-slide-left {
    0%{
        translate: 0 0;
    }
    100%{
        translate: 60vw 0;
    }
}
@keyframes ad-widget-slide-right {
    0%{
        translate: 0 0;
    }
    100%{
        translate: -60vw 0;
    }
}
@keyframes ad-widget-slide-to-start {
    0%{
        translate: 0% 0;
    }
    100%{
        translate: calc(100% - 60vw) 0;
    }
}
@keyframes ad-widget-slide-to-end {
    0%{
        translate: 0% 0;
    }
    100%{
        translate: calc(0px - (100% - 60vw)) 0;
    }
}

.widget-panel{
    width:100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.widget-panel .widget-container{
    width:60vw;
}

.widget-panel .widget-container .widget-list-wrapper{
    width:60vw;
}

.widget-panel .widget-container .widget-list{
    display:inline-flex;
}

.widget-panel .widget-container .widget-item{
    width:60vw;

    cursor: pointer;
}

.widget-panel .widget-container .widget-item img{
    width:60vw;
}

.widget-panel .widget-container .widget-button{
    background: rgba(227, 235, 238, 0.7);

    border-radius: 5px;
    overflow: hidden;
}

.widget-panel .widget-container .widget-button:hover{
    background: rgba(255,255,255,1);
}


.categories-panel{
    margin-top: 20px;

    width:100%;

    display:flex;
    flex-direction: column;

    background-color: var(--main-light-color);
}

.categories-panel .category-wrapper{
    align-self: center;
    width:100%;


    overflow-x:hidden;
    justify-content: center;
}

.categories-panel .category-list{
    display: inline-flex;
    
    gap: 10px;
}

.categories-panel .category-wrapper .category-item{
    width:20vw;
    min-width: 200px;
    max-width: 300px;

    aspect-ratio: 2/0.85;

    background-color: var(--secondary-light-color);   

    border-radius: 10px;

    padding: 0px 10px;

    display:flex;
    align-items: center;

    cursor: pointer;
}

.categories-panel .category-wrapper .category-item > *{
    height: calc(100% - 20px);
}

.categories-panel .category-item .item-image-wrapper{
    aspect-ratio: 1/1;
}

.categories-panel .category-item .item-image-wrapper img{
    width:100%;
    height:100%;
}

.categories-panel .category-item .item-info-wrapper{
    display:flex;
    flex-direction: column;
    padding-left:10px;
    padding-top:8px;
}

.categories-panel .category-item .item-info-wrapper .large-text-info{
    font-size:calc(12px + 0.6vw);
    font-weight: 650;
}

.categories-panel .category-item .item-info-wrapper .small-text-info{
    margin-top:8px;
    
    font-size:calc(9px + 0.4vw);
}


.categories-panel .category-wrapper .category-item:hover{
    background-color: var(--light-contrast-color2);
    animation-name: on_hover_item;
    animation-duration: 0.3s;
}

.featured-products-panel{
    width:100%;

    background-color: var(--main-light-color);

    display:flex;
    flex-direction: column;
    align-items: center;
}

.featured-products-panel .product-set{
    width:100%;
    margin:30px;
    background-color: var(--secondary-light-color);
}

.featured-products-panel .set-title{
    padding-top: 10px;
    margin: 5px 0;
    width:100%;
}

.featured-products-panel .product-list-wrapper{
    width:100%;
    overflow-x: scroll;
}

.featured-products-panel .product-list{
    align-self: center;
    
    display:inline-flex;
    align-items: center;
}

.featured-products-panel .product-set .product-item{
    max-width: 250px;
    min-width: 200px;
    width:20vw;

    display:flex;
    flex-direction: column;

    border-radius: 10px;

    background-color: var(--primary-light-color);   

    cursor:pointer;

    margin:10px 10px;
}

@keyframes on_hover_item {
    0%{
        background-color: var(--primary-light-color);   
    }
    100%{
        background-color: var(--light-contrast-color2);
    }
}

.featured-products-panel .product-set .product-item:hover{
    background-color: var(--light-contrast-color2);
    animation-name: on_hover_item;
    animation-duration: 0.3s;
}

.featured-products-panel .product-item .product-image-wrapper{
    border-radius: 10px;
    margin: 15px 15px;

    overflow: hidden;
    
    width: auto;
    aspect-ratio: 1/1;

    align-self: center;

    display:flex;
    justify-content: center;
    align-items: center;

    background-color: var(--primary-light-color);
}

.featured-products-panel .product-item .product-image-wrapper img{
    width: 100%;
    padding:5px 5px;
}


.featured-products-panel .product-item .product-display-name{
    margin-left: 15px;
    margin-top: 10px;

    font-size: 12pt;
    font-weight: 550;
    
    height: 3em;
    
    overflow-y:hidden;
}

.featured-products-panel .product-item .producer-display-name{
    margin-left:15px;
    margin-top: 15px;

    font-size:11pt;
    font-weight: 400;
    color:rgb(0, 0, 0)
}

.featured-products-panel .product-item .product-info-display{
    display:grid;
    grid-template-columns: 2fr 1fr;

    margin-left:15px;
    margin-right:15px;
    margin-top: 15px;
    margin-bottom: 15px;

    font-size: 12pt;
    font-weight: 550;
}


.featured-products-panel .product-item .price{
    width:100%;
    color: black;
}

.featured-products-panel .product-item .rating-display{
    width:100%;

    display: flex;
    flex-direction:row-reverse;
    gap:5px;

    justify-self: left;
}

.featured-products-panel .product-item .rating-value{
    vertical-align: middle;
    line-height: normal;
    
}

.featured-products-panel .product-item .rating-icon-wrapper{
    width:18px;
    height:18px
}


.featured-products-panel .product-item .rating-icon-wrapper img{
    width:100%;
    height:100%;
}