@import url('../globals/globals.css');

/* globals */
.style-panel-title .set-title-name{
    text-indent: 15px;
    font-size: 14pt;
    font-weight: 650;
}

/* elements */
.home-page{
    width:100%;
    height:100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and ((max-width: 1000px)){
    .home-page .content-wrapper{
        width:100%;
    }
}

@media screen and ((min-width: 1000px)){
    .home-page .content-wrapper{
        width:70%;
    }
}

/* widget */
@keyframes ad-widget-slide-left {
    0%{
        translate: 0 0;
    }
    100%{
        translate: 60vw 0;
    }
}
@keyframes ad-widget-slide-right {
    0%{
        translate: 0 0;
    }
    100%{
        translate: -60vw 0;
    }
}
@keyframes ad-widget-slide-to-start {
    0%{
        translate: 0% 0;
    }
    100%{
        translate: calc(100% - 60vw) 0;
    }
}
@keyframes ad-widget-slide-to-end {
    0%{
        translate: 0% 0;
    }
    100%{
        translate: calc(0px - (100% - 60vw)) 0;
    }
}

.widget-panel{
    width:100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.widget-panel .widget-container{
    width:60vw;
}

.widget-panel .widget-container .widget-list-wrapper{
    width:60vw;
}

.widget-panel .widget-container .widget-list{
    display:inline-flex;
}

.widget-panel .widget-container .widget-item{
    width:60vw;

    cursor: pointer;
}

.widget-panel .widget-container .widget-item img{
    width:60vw;
}

.widget-panel .widget-container .widget-button{
    background: rgba(227, 235, 238, 0.7);

    border-radius: 5px;
    overflow: hidden;
}

.widget-panel .widget-container .widget-button:hover{
    background: rgba(255,255,255,1);
}


.categories-panel{
    margin-top: 20px;

    width:100%;

    display:flex;
    flex-direction: column;

    background-color: var(--main-light-color);
}

.categories-panel .category-wrapper{
    align-self: center;
    width:100%;


    overflow-x:hidden;
    justify-content: center;
}

.categories-panel .category-list{
    display: inline-flex;
    
    gap: 10px;
}

.categories-panel .category-wrapper .category-item{
    width:20vw;
    min-width: 200px;
    max-width: 300px;

    aspect-ratio: 2/0.85;

    background-color: var(--secondary-light-color);   

    border-radius: 10px;

    padding: 0px 10px;

    display:flex;
    align-items: center;

    cursor: pointer;
}

.categories-panel .category-wrapper .category-item > *{
    height: calc(100% - 20px);
}

.categories-panel .category-item .item-image-wrapper{
    aspect-ratio: 1/1;
}

.categories-panel .category-item .item-image-wrapper img{
    width:100%;
    height:100%;
}

.categories-panel .category-item .item-info-wrapper{
    display:flex;
    flex-direction: column;
    padding-left:10px;
    padding-top:8px;
}

.categories-panel .category-item .item-info-wrapper .large-text-info{
    font-size:calc(12px + 0.6vw);
    font-weight: 650;
}

.categories-panel .category-item .item-info-wrapper .small-text-info{
    margin-top:8px;
    
    font-size:calc(9px + 0.4vw);
}


.categories-panel .category-wrapper .category-item:hover{
    background-color: var(--light-contrast-color2);
    animation-name: on_hover_item;
    animation-duration: 0.3s;
}

.featured-products-panel{
    width:100%;

    background-color: var(--main-light-color);

    display:flex;
    flex-direction: column;
    align-items: center;
}

.featured-products-panel .product-set{
    width:100%;
    margin:30px;
    background-color: var(--secondary-light-color);
}

.featured-products-panel .set-title{
    margin:10px 0;
    width:100%;

    height:1.3em;
    position: relative;
    overflow: hidden;;
}
.featured-products-panel .set-title >*{
    top:4px;
}
.featured-products-panel .set-title .set-title-name{
    position: absolute;
    left:0px;
}

.featured-products-panel .set-title .show-product-button-wrapper{
    position:absolute;
    right:20px;

    display:flex;
    justify-content: center;
    width:8em;
    height:100%;
}

.featured-products-panel .set-title .show-product-button-wrapper.button-effect:hover{
    font-weight: 650;
}

.featured-products-panel .set-title .show-product-button-wrapper > *{
    width:100%;
    height:100%;    
    text-align: center;
}

.featured-products-panel .set-title .show-product-button-wrapper .show-more-button{
    
}

.featured-products-panel .set-title .show-product-button-wrapper .hide-button{
    display:none;
}


.featured-products-panel .product-list-wrapper{
    width:100%;
    overflow:hidden;
}

.featured-products-panel .product-list{
    width:calc(100% - 30px);
    margin: 15px 15px;
    align-self: center;
    
    display:grid;
    justify-content: center;
    align-items: center;

    column-gap: 10px;
    row-gap: 10px;
}

@media screen and ((max-width: 600px)){
    .featured-products-panel .product-list{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and ((min-width: 600px) and (max-width: 900px)){
    .featured-products-panel .product-list{
        grid-template-columns: repeat(3,1fr);
    }
}

@media screen and ((min-width: 900px) and (max-width: 1200px)){
    .featured-products-panel .product-list{
        grid-template-columns: repeat(4,1fr);
    }
}

@media screen and ((min-width: 1200px)){
    .featured-products-panel .product-list{
        grid-template-columns: repeat(6,1fr);
    }
}
 
.featured-products-panel .product-list-wrapper.hide{
    overflow-y:hidden;
    height:315px;
}

.featured-products-panel .product-list-wrapper.show{
    height:auto;
}

.featured-products-panel .product-set .product-item{
    width: 200px;
}